# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/Multiwfn

# Config files
gMultiwfn-*/
gMultiwfn-*gz
build/
build-aux/
vdiff/
configure
install-sh
missing
aclocal.m4
autom4te.cache/
**/Makefile.in
**/Makefile
**/config.status
**/config.log
**/5unable
**/*.orig
*.swp
